@charset "UTF-8";
/*  */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Pretendard-Regular";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.stm-btn {
  top: 45px;
  left: 86px;
  position: fixed;
  z-index: 1000;
  background: url(../images/btn_bg.png) no-repeat bottom left;
}
.stm-btn img {
  -webkit-transform: translateY(-2px) translateX(2px);
          transform: translateY(-2px) translateX(2px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.stm-btn:hover img {
  -webkit-transform: translateY(-5px) translateX(5px);
          transform: translateY(-5px) translateX(5px);
}

.stm-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #E61911;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: transform 0.25s ease, opacity 0.25s ease;
  transition: transform 0.25s ease, opacity 0.25s ease, -webkit-transform 0.25s ease;
  z-index: 2000;
  padding-top: 100px;
  padding-left: 250px;
}
.stm-wrap.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.stm-wrap .stm-close-btn {
  top: 45px;
  left: 86px;
  position: fixed;
  background: url(../images/btn_close_bg.png) no-repeat bottom left;
}
.stm-wrap .stm-close-btn img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-2px) translateX(2px);
          transform: translateY(-2px) translateX(2px);
}
.stm-wrap .stm-close-btn:hover img {
  -webkit-transform: translateY(-5px) translateX(5px);
          transform: translateY(-5px) translateX(5px);
}
.stm-wrap .stm-inner {
  margin-top: 80px;
}
.stm-wrap .stm-inner ul li {
  margin-top: 40px;
}
.stm-wrap .stm-inner ul li a span {
  position: relative;
}
.stm-wrap .stm-inner ul li a span img {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.stm-wrap .stm-inner ul li a span.active::after {
  display: block;
}
.stm-wrap .stm-inner ul li a span::after {
  display: none;
  z-index: 200;
  position: absolute;
  top: -50px;
  right: -120px;
  content: "";
  width: 100px;
  height: 80px;
  background: url(../images/stm_tit_act.png) no-repeat;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.stm-wrap .stm-inner ul li a .active img {
  -webkit-filter: invert(64%) sepia(92%) saturate(746%) hue-rotate(1deg) brightness(105%) contrast(102%);
          filter: invert(64%) sepia(92%) saturate(746%) hue-rotate(1deg) brightness(105%) contrast(102%);
}
.stm-wrap .stm-inner ul li a:hover img {
  -webkit-filter: invert(64%) sepia(92%) saturate(746%) hue-rotate(1deg) brightness(105%) contrast(102%);
          filter: invert(64%) sepia(92%) saturate(746%) hue-rotate(1deg) brightness(105%) contrast(102%);
}
.stm-wrap .stm-inner ul li a:hover span::after {
  display: block;
}

.btn-wrap .btn02 {
  position: fixed;
  bottom: 40px;
  right: 120px;
  z-index: 1000;
  background: url(../images/btn_02_bg.png) no-repeat bottom left;
}
.btn-wrap .btn02 img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-1px) translateX(2px);
          transform: translateY(-1px) translateX(2px);
}
.btn-wrap .btn02:hover img {
  -webkit-transform: translateY(-3px) translateX(4px);
          transform: translateY(-3px) translateX(4px);
}
.btn-wrap .top-btn {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 1000;
  background: #000;
  border-radius: 50%;
}
.btn-wrap .top-btn img {
  -webkit-transform: translateY(-1px) translateX(2px);
          transform: translateY(-1px) translateX(2px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn-wrap .top-btn:hover img {
  -webkit-transform: translateY(-3px) translateX(4px);
          transform: translateY(-3px) translateX(4px);
}

.wrap {
  background-color: rgb(213, 24, 17);
  overflow: hidden;
  /* ######## sauce ######## */
}
.wrap .inner-container {
  max-width: 1700px;
  margin: 0 auto;
}
.wrap .pizza {
  position: relative;
}
.wrap .pizza .deco-text {
  position: absolute;
  top: 310px;
  right: 250px;
}
.wrap .pizza .deco-text p:last-child {
  margin-top: 10px;
}
.wrap .pizza .title {
  position: relative;
  margin-top: 80px;
  -webkit-animation: title 1s forwards;
          animation: title 1s forwards;
}
@-webkit-keyframes title {
  0% {
    left: -800px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes title {
  0% {
    left: -800px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    left: 0;
    top: 0;
  }
}
.wrap .pizza .whole-pizza {
  position: absolute;
  top: 5%;
  z-index: 1;
  opacity: 0;
  -webkit-animation: pizza 1s 0.5s forwards;
          animation: pizza 1s 0.5s forwards;
}
@-webkit-keyframes pizza {
  0% {
    left: 200px;
    top: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    left: 0;
    top: 5%;
    opacity: 1;
  }
}
@keyframes pizza {
  0% {
    left: 200px;
    top: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    left: 0;
    top: 5%;
    opacity: 1;
  }
}
.wrap .pizza .pizza-toppings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.wrap .pizza .pizza-toppings.aos-animate .pizza-topping {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.wrap .pizza .pizza-topping {
  position: absolute;
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
}
.wrap .pizza .pizza-topping01 {
  top: -10%;
  right: 32%;
}
.wrap .pizza .pizza-topping02 {
  top: -8%;
  left: -5%;
  z-index: 1;
}
.wrap .pizza .pizza-topping03 {
  top: -10%;
  left: -5%;
}
.wrap .pizza .pizza-topping04 {
  top: -10%;
  left: -5%;
  z-index: 1;
}
.wrap .pizza .pizza-topping05 {
  top: -10%;
  left: -5%;
}
.wrap .pizza .pizza-topping06 {
  top: -8%;
  left: -5%;
}
.wrap .pizza .pizza-topping07 {
  top: -13%;
  left: -5%;
}
.wrap .pizza-btm {
  height: 1074px;
  position: relative;
}
.wrap .pizza-btm .pizza-left-deco {
  margin-top: 70px;
}
.wrap .pizza-btm .pizza-right-deco {
  position: absolute;
  top: -170px;
  right: 0;
}
.wrap .pizza-btm .pizza-edge-texts {
  position: relative;
}
.wrap .pizza-btm .pizza-edge-texts .pizza-edge-text {
  position: absolute;
  top: -440px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.wrap .pizza-btm .pizza-edge-texts .pizza-edge-text02 {
  top: -170px;
}
.wrap .pizza-btm .pizza-edge-texts .pizza-edge-text03 {
  top: -10px;
}
.wrap .pizza-btm .pizza-edge-texts .pizza-edge-text04 {
  top: 150px;
}
.wrap .pizza-btm .pizza-edge-texts .pizza-edge-btm {
  position: absolute;
  top: 300px;
  left: 50%;
  /* transform: translateX(-50%) translateY(100px); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .pizza-btm .pizza-edge-texts .pizza-edge-btm .pizza-edge-deco01 {
  position: absolute;
  left: -450px;
  bottom: 0;
  -webkit-animation: thunder01 0.45s infinite;
          animation: thunder01 0.45s infinite;
}
@-webkit-keyframes thunder01 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes thunder01 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.wrap .pizza-btm .pizza-edge-texts .pizza-edge-btm .pizza-edge-piece {
  position: absolute;
  bottom: -250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrap .pizza-btm .pizza-edge-texts .pizza-edge-btm .pizza-edge-deco02 {
  position: absolute;
  right: -450px;
  bottom: 0;
  -webkit-animation: thunder02 0.45s infinite;
          animation: thunder02 0.45s infinite;
}
@-webkit-keyframes thunder02 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes thunder02 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.wrap .sauce {
  overflow: hidden;
  z-index: 1;
  height: 1310px;
  position: relative;
  background: url(../images/sauce_bg.jpg);
  background-repeat: repeat;
}
.wrap .sauce .sauce-marquee .marquee-container .marquee-items {
  -webkit-animation: marqueeScroll 24.0667s linear 0s infinite normal none running;
          animation: marqueeScroll 24.0667s linear 0s infinite normal none running;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@-webkit-keyframes marqueeScroll {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
}
@keyframes marqueeScroll {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
}
.wrap .sauce .sauce-tomato01 {
  z-index: -1;
  top: 0;
  position: absolute;
}
.wrap .sauce .sauce-tomato01 .sauce-tomato01-wrap {
  position: relative;
}
.wrap .sauce .sauce-tomato01 .sauce-tomato01-wrap .sauce-tomato01-shadow01 {
  position: absolute;
}
.wrap .sauce .sauce-tomato01 .sauce-tomato01-wrap .sauce-tomato01-shadow02 {
  position: absolute;
}
.wrap .sauce .sauce-tomato01 .sauce-tomato01-wrap .sauce-tomato01-object {
  position: absolute;
}
.wrap .sauce .sauce-tomato02 {
  z-index: -1;
  top: 1%;
  right: 590px;
  position: absolute;
}
.wrap .sauce .sauce-tomato02 .sauce-tomato02-wrap {
  position: relative;
}
.wrap .sauce .sauce-tomato02 .sauce-tomato02-wrap .sauce-tomato02-shadow01 {
  position: absolute;
}
.wrap .sauce .sauce-tomato02 .sauce-tomato02-wrap .sauce-tomato02-shadow02 {
  position: absolute;
}
.wrap .sauce .sauce-tomato02 .sauce-tomato02-wrap .sauce-tomato02-shadow03 {
  position: absolute;
}
.wrap .sauce .sauce-tomato02 .sauce-tomato02-wrap .sauce-tomato02-object {
  position: absolute;
}
.wrap .sauce .sauce-tomato03 {
  bottom: -40px;
  position: absolute;
}
.wrap .sauce .sauce-spoon {
  position: absolute;
  bottom: 100px;
  right: 0;
}
.wrap .sauce .sauce-text .sauce-text-wrap .sauce-text01 {
  top: 200px;
  left: 150px;
  position: absolute;
}
.wrap .sauce .sauce-text .sauce-text-wrap .sauce-text02 {
  bottom: 180px;
  right: 130px;
  position: absolute;
}
.wrap .sauce .sauce-object .sauce-object-wrap {
  width: 1300px;
  top: 380px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
}
.wrap .sauce .sauce-object .sauce-object-wrap .sauce-object-shadow {
  position: absolute;
}
.wrap .sauce .sauce-object .sauce-object-wrap .sauce-object-img {
  position: absolute;
}
.wrap .sauce .sauce-marquee02 {
  margin-top: 1200px;
}
.wrap .sauce .sauce-marquee02 .marquee-container02 .marquee-items02 {
  -webkit-animation: marqueeScroll2 24.0667s linear 0s infinite normal none running;
          animation: marqueeScroll2 24.0667s linear 0s infinite normal none running;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@-webkit-keyframes marqueeScroll2 {
  0% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes marqueeScroll2 {
  0% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.wrap .yellow-container {
  position: relative;
  z-index: 1;
  background-color: #ffc83a;
}
.wrap .yellow-container .synd {
  height: 1000px;
  width: 100%;
  background: url(../images/synd_bg.jpg) no-repeat;
}
.wrap .yellow-container .synd .synd-text {
  position: absolute;
  top: 17%;
  right: 0;
}
.wrap .yellow-container .main-menu {
  position: relative;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  z-index: 3;
  overflow: visible;
  background-color: #fff2cc;
}
.wrap .yellow-container .main-menu::before {
  content: "";
  position: absolute;
  top: -360px;
  left: 0;
  width: 100%;
  height: 365px;
  background: url(../images/mainmenu_deco01.png);
  background-size: 100% 600px;
  background-repeat: no-repeat;
  background-position: top center;
}
.wrap .yellow-container .main-menu .main-menu-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1703px;
  top: -200px;
}
.wrap .yellow-container .main-menu .main-menu-container {
  margin: auto;
  max-width: 1703px;
  padding-top: 270px;
  position: relative;
}
.wrap .yellow-container .main-menu .main-menu-container .main-menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 30px;
  padding-bottom: 75px;
}
.wrap .yellow-container .main-menu .main-menu-container .main-menu-lists .main-menu-list {
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32%;
  border: 1px solid #cec7b2;
  -webkit-box-shadow: 0 0 10px 10px rgba(125, 125, 125, 0.1);
          box-shadow: 0 0 10px 10px rgba(125, 125, 125, 0.1);
  height: 475px;
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  padding-top: 3px;
}
.wrap .yellow-container .main-menu .main-menu-container .main-menu-lists .main-menu-list:hover {
  background-color: #E61911;
}
.wrap .yellow-container .main-menu .main-menu-container .main-menu-lists .main-menu-list:hover .main-menu-name-kr {
  color: #E61911;
  background-color: #fff;
}
.wrap .yellow-container .main-menu .main-menu-container .main-menu-lists .main-menu-list .main-menu-name-kr {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  background-color: #E61911;
  width: 290px;
  height: 42px;
  line-height: 42px;
  margin: 20px auto;
}
.wrap .yellow-container .main-menu .main-menu-container .main-menu-lists .main-menu-list .main-menu-hover {
  text-align: center;
}
.wrap .yellow-container .main-menu .main-menu-container .main-menu-lists .main-menu-list .main-menu-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrap .yellow-container .main-menu .main-menu-container .main-menu-lists .main-menu-list .main-menu-stamp {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 185px;
}
.wrap .yellow-container .cheese {
  margin-top: -550px;
  position: relative;
  width: 100%;
  height: 500px;
}
.wrap .yellow-container .cheese .cheese-wrap {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 700px;
  background: url(../images/mainmenu_deco02.png) no-repeat center;
  background-size: cover;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.wrap .yellow-container .cheese .cheese-wrap img {
  display: block;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.wrap .yellow-container .event {
  z-index: -1;
  position: relative;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 100px;
}
.wrap .yellow-container .event .event-title {
  text-align: center;
}
.wrap .yellow-container .event .swiper {
  padding-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.wrap .yellow-container .event .swiper .swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}
.wrap .yellow-container .event-deco {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 100%;
  height: 148px;
  background: url(../images/event_deco.png);
}
.wrap .store {
  position: relative;
  padding-top: 200px;
  padding-bottom: 150px;
  background-color: #fff2cc;
}
.wrap .store .store-title {
  font-size: 60px;
  font-weight: 700;
  color: #E61911;
  text-align: center;
  line-height: 1.16;
}
.wrap .store .store-search {
  position: relative;
  width: 560px;
  margin: 68px auto 0;
}
.wrap .store .store-search input {
  padding: 25px 35px;
  border-radius: 35px;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  border: none;
  font-size: 18px;
  color: #555;
  outline: none;
  background-color: #fff;
}
.wrap .store .store-search button {
  border: none;
  top: 30%;
  right: 5%;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 0 30px 30px 0;
  background: url(https://pizzastorm.co.kr/img/main/store_icon.png) no-repeat center;
}
.wrap .store .store-deco01 {
  position: absolute;
  top: 229px;
  left: 1%;
}
.wrap .store .store-deco02 {
  position: absolute;
  top: 229px;
  right: 5%;
}
.wrap .footer {
  background-color: #fff2cc;
  height: 345px;
}
.wrap .footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 30px 0;
}
.wrap .footer .footer-top .footer-sns .sns-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.wrap .footer .footer-top .footer-sns .sns-icons ul li {
  padding-right: 15px;
  height: 20px;
  border-right: 1px solid #bbbbbb;
}
.wrap .footer .footer-top .footer-sns .sns-icons ul li:last-child {
  border: none;
}
.wrap .footer .footer-bottom .footer-in {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrap .footer .footer-bottom .footer-in .address p {
  margin-top: 20px;
  margin-left: 30px;
  line-height: 30px;
  color: #4e0006;
}
.wrap .footer .footer-bottom .footer-in .address ul {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.wrap .footer .footer-bottom .footer-in .address ul li a {
  color: rgba(78, 0, 8, 0.4);
}
.wrap .footer .footer-bottom .footer-in .address ul li::after {
  content: "·";
  margin-left: 10px;
}
.wrap .footer .footer-bottom .footer-in .address ul li:last-child::after {
  content: "";
}
.wrap .footer .footer-bottom .footer-in .footer-copy {
  margin-top: 75px;
  color: #4e0006;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}