/*  */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: 'Pretendard-Regular';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul, li{list-style: none;}
a{text-decoration: none;}
address{font-style: normal;}
.stm-btn{
  top: 45px;
  left: 86px;
  position: fixed;
  z-index: 1000;
  background: url(../images/btn_bg.png) no-repeat bottom left;
  img{transform: translateY(-2px) translateX(2px);   transition: .2s;}
  &:hover img{
    transform: translateY(-5px) translateX(5px);
  }
}
.stm-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #E61911;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
  z-index: 2000;
  padding-top: 100px;
  padding-left: 250px;
  &.open{
    transform: translateX(0);
    opacity: 1;
  }

  .stm-close-btn{
    top: 45px;left: 86px;
    position: fixed;
    background: url(../images/btn_close_bg.png) no-repeat bottom left;
    img{transition: .2s; transform: translateY(-2px) translateX(2px);}
    &:hover img{
      transform: translateY(-5px) translateX(5px);
    }
  }
  .stm-inner{
    margin-top: 80px;
    ul{
      li{
        margin-top: 40px;
        a{
          span{
            position: relative;
            img{
              filter: invert(1);
              transition: .15s;
            }
            &.active::after{display: block;}
            &::after{
              display: none;
              z-index: 200;
              position: absolute;
              top: -50px;
              right: -120px;
              content: '';
              width: 100px;
              height: 80px;
              background: url(../images/stm_tit_act.png) no-repeat;
              transition: .15s;
            }
          }
          .active img{
            filter: invert(64%) sepia(92%) saturate(746%) hue-rotate(1deg) brightness(105%) contrast(102%);
          }
          &:hover img{
            filter: invert(64%) sepia(92%) saturate(746%) hue-rotate(1deg) brightness(105%) contrast(102%);
          }
          &:hover span::after{
            display: block;
          }
        }
      }
    }
  }
}
.btn-wrap{
  .btn02{
    position: fixed;
    bottom: 40px;
    right: 120px;
    z-index: 1000;
    background: url(../images/btn_02_bg.png) no-repeat bottom left;
    img{transition: .2s; transform: translateY(-1px) translateX(2px);}
    &:hover img{
      transform: translateY(-3px) translateX(4px);
    }
  }
  .top-btn{
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 1000;
    background: #000;
    border-radius: 50%;
    img{transform: translateY(-1px) translateX(2px); transition: .2s;}
    &:hover img{
      transform: translateY(-3px) translateX(4px);
    }
  }
}
.wrap{
  background-color: rgb(213 24 17);
  overflow: hidden;
  .inner-container {
    max-width: 1700px;
    margin: 0 auto;
  }
  .pizza{position: relative;
    .deco-text{
      position: absolute;
      top: 310px;
      right: 250px;
      p{
        &:last-child{
          margin-top: 10px;
        }
        img{
        }
      }
    }
    .title{
      position: relative;
      margin-top: 80px;
      animation: title 1s forwards;
      @keyframes title {
        0%{ left:-800px; transform: translateY(100%);}
        100%{ left:0; top: 0;}
      }
      img{}
    }
    .whole-pizza{
      position: absolute;
      top: 5%;
      z-index: 1;
      opacity: 0;
      animation: pizza 1s .5s forwards;
      @keyframes pizza {
        0%{ left: 200px; top: 0; transform: translateY(50%); opacity: 0;}
        100%{ left:0; top: 5%; opacity: 1;}
      }
      img{}
    }
    .pizza-toppings{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      // ▶️ AOS에 의해 등장 시 토핑들에 애니메이션 적용
      &.aos-animate {
        .pizza-topping {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
      .pizza-topping {
        position: absolute;
        animation: float 4s ease-in-out infinite;
        &01 { top: -10%; right: 32%;}
        &02 { top: -8%; left: -5%; z-index: 1;}
        &03 { top: -10%; left: -5%;}
        &04 { top: -10%; left: -5%; z-index: 1;}
        &05 { top: -10%; left: -5%;}
        &06 { top: -8%; left: -5%;}
        &07 { top: -13%; left: -5%;}
        img {
        }
      }
  }
  .pizza-btm{
      height: 1074px;
      position: relative;
      .pizza-left-deco{
        margin-top: 70px;
      }
      .pizza-right-deco{
        position: absolute;
        top: -170px; right: 0;
      }
      .pizza-edge-texts{
        position: relative;
        .pizza-edge-text{
          position: absolute;
          top: -440px;
          left: 50%;
          transform: translate(-50%, -50%);
          &01{}
          &02{top: -170px;}
          &03{top: -10px;}
          &04{top: 150px;}
        }
        .pizza-edge-btm{
          position: absolute;
          top: 300px;
          left: 50%;
          /* transform: translateX(-50%) translateY(100px); */
          display: flex;
          align-items: center;
          .pizza-edge-deco01{
            position: absolute;
            left: -450px;
            bottom: 0;
            animation: thunder01 .45s infinite;
            img{}
          }
          @keyframes thunder01 {
            0%{transform:translate(0px, 0px);}
            50%{transform: rotate(-15deg);}
            100%{transform:translate(0px, 0px);}
          }
          .pizza-edge-piece{
            position: absolute;
            bottom: -250px;
            left: 50%;
            transform: translateX(-50%);
            transition:  .3s;
          }
          .pizza-edge-deco02{
            position: absolute;
            right: -450px;
            bottom: 0;
            animation: thunder02 .45s infinite;
          }
          @keyframes thunder02 {
            0%{transform:translate(0px, 0px);}
            50%{transform:rotate(15deg);}
            100%{transform:translate(0px, 0px);}
          }
        }
      }
  }
  /* ######## sauce ######## */
  .sauce{
      overflow: hidden;
      z-index: 1;
      height: 1310px;
      position: relative;
      background: url(../images/sauce_bg.jpg);
      background-repeat: repeat;
      .sauce-marquee{
        .marquee-container{
          .marquee-items{
            animation: marqueeScroll 24.0667s linear 0s infinite normal none running;
            display: flex;
            @keyframes marqueeScroll {
              0%{transform: translateX(0%);}
              100%{transform: translateX(-80%);}
            }
            .marquee-item{}
        }
      }
      }
      .sauce-tomato01{
        z-index: -1;
        top: 0;
        position: absolute;
        .sauce-tomato01-wrap{
          position: relative;
          .sauce-tomato01-shadow01{
            position: absolute;
          }
          .sauce-tomato01-shadow02{
            position: absolute;
          }
          .sauce-tomato01-object{
            position: absolute;
          }
        }
      }
      .sauce-tomato02{
        z-index: -1;
        top: 1%;
        right: 590px;
        position: absolute;
        .sauce-tomato02-wrap{
          position: relative;
          .sauce-tomato02-shadow01{
            position: absolute;
          }
          .sauce-tomato02-shadow02{
            position: absolute;
          }
          .sauce-tomato02-shadow03{
            position: absolute;
          }
          .sauce-tomato02-object{
            position: absolute;
          }
        }
      }
      .sauce-tomato03{
        bottom: -40px;
        position: absolute;
      }
      .sauce-spoon{
        position: absolute;
        bottom: 100px;
        right: 0;
      }
      .sauce-text{
        .sauce-text-wrap{
          .sauce-text01{
            top: 200px;
            left: 150px;
            position: absolute;
          }
          .sauce-text02{
            bottom: 180px;
            right: 130px;
            position: absolute;
          }
        }
      }
      .sauce-object{
        .sauce-object-wrap{
          width: 1300px;
          top: 380px;
          left: 50%;
          transform: translateX(-50%);
          position: relative;
          .sauce-object-shadow{
            position: absolute;
          }
          .sauce-object-img{
            position: absolute;
          }
        }
      }
      .sauce-marquee02{
        margin-top: 1200px;
        .marquee-container02{
          .marquee-items02{
            animation: marqueeScroll2 24.0667s linear 0s infinite normal none running;
            display: flex;
            @keyframes marqueeScroll2 {
              0%{transform: translateX(-80%);}
              100%{transform: translateX(0%);}
            }
            .marquee-item{}
        }
      }
    }
  }
  .yellow-container{
    position: relative;
    z-index: 1;
    background-color: #ffc83a;
    .synd{
      height: 1000px;
      width: 100%;
      background: url(../images/synd_bg.jpg) no-repeat;
      .synd-bg{}
      .synd-text{
        position: absolute;
        top: 17%;
        right: 0;
        
      }
    }
    .main-menu{
      position: relative;
      transform: translateY(-15%);
      transition: transform 0.5s;
      &::before{
        content: '';
        position: absolute;
        top: -360px;
        left: 0;
        width: 100%;
        height: 365px;
        background: url(../images/mainmenu_deco01.png);
        background-size: 100% 600px;
        background-repeat: no-repeat;
        background-position: top center;
      }
      position: relative;
      z-index: 3;
      overflow: visible;
      background-color: #fff2cc;
      .main-menu-title{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1703px;
        top: -200px;
      }
      .main-menu-container{
        margin: auto;
        max-width: 1703px;
        padding-top: 270px;
        position: relative;
        .main-menu-lists{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          gap: 30px;
          padding-bottom: 75px;
          .main-menu-list{
            position: relative;
            text-align: center;
            align-items: center;
            width: calc(33% - 1%);
            border: 1px solid #cec7b2;
            box-shadow: 0 0 10px 10px rgba(125, 125,125, 0.1);
            height: 475px;
            overflow: hidden;
            border-radius: 30px;
            background-color: #fff;
            transition: .1s;
            padding-top: 3px;
            &:hover{
              background-color: #E61911;
              .main-menu-name-kr{
                color: #E61911;
                background-color: #fff;
              }
            }
            .main-menu-name-kr{
              text-align: center;
              font-size: 28px;
              font-weight: bold;
              color: #fff;
              background-color: #E61911;
              width: 290px;
              height: 42px;
              line-height: 42px;
              margin: 20px auto;
            }
            .main-menu-hover{text-align: center;}
            .main-menu-img{
              display: flex;
              justify-content: center;
            }
            .main-menu-stamp{
              position: absolute;
              bottom: 15px;
              right: 15px;
              width: 185px;
            }
          }
        }
      }
    }
    .cheese {
      margin-top: -550px;
      position: relative;
      width: 100%;
      height: 500px;
      .cheese-wrap {
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 700px;
        background: url(../images/mainmenu_deco02.png) no-repeat center;
        background-size: cover;
        transform: translateX(-50%);
        img {
          display: block;
          width: auto;
          height: auto;
          object-fit: contain;  // 이미지가 부모 영역에 맞게 꽉 차게
          user-select: none;
          pointer-events: none;
          transform-origin: bottom center;
          transition: transform 0.3s ease;
        }
      }
    }    
    .event{
      z-index: -1;
      position: relative;
      width: 100%;
      padding-top: 200px;
      padding-bottom: 100px;
      .event-title{
        text-align: center;
      }
      .swiper {
        padding-top: 50px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      
        .swiper-wrapper {
        }
        .swiper-slide {
          img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 20px;
          }
        }
      }
      
    }
    .event-deco{
      transform: translateY(50%);
      width: 100%;
      height: 148px;
      background: url(../images/event_deco.png);
    }
  }
  .store{
    position: relative;
    padding-top: 200px;
    padding-bottom: 150px;
    background-color: #fff2cc;
    .store-title{
      font-size: 60px;
      font-weight: 700;
      color: #E61911;
      text-align: center;
      line-height: 1.16;
    }
    .store-search{
      position: relative;
      width: 560px;
      margin: 68px auto 0;
      input{
        padding: 25px 35px;
        border-radius: 35px;
        width: 100%;
        height: 100%;
        padding-left: 40px;
        border: none;
        font-size: 18px;
        color: #555;
        outline: none;
        background-color: #fff;
      }
      button{
        border: none;
        top: 30%;
        right: 5%;
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 0 30px 30px 0;
        background: url(https://pizzastorm.co.kr/img/main/store_icon.png) no-repeat center;
      }
    }
    .store-deco01{position: absolute; top: 229px; left: 1%;}
    .store-deco02{position: absolute; top: 229px; right: 5%;}
  }
  .footer{
    background-color: #fff2cc;
    height: 345px;
    .footer-top{
      display: flex;
      justify-content: space-between;
      padding: 50px 30px 0;
      .footer-sns{
        .sns-icons{
          ul{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 10px;
            li{
              padding-right: 15px;
              height: 20px;
              border-right: 1px solid #bbbbbb;
              &:last-child{border: none;}
            }
          }
        }
      }
    }
    .footer-bottom{
      .footer-in{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        .address{
          p{margin-top: 20px; margin-left: 30px; line-height: 30px; color: #4e0006;}
          ul{
            margin-left: 30px;
            display: flex;
            gap: 10px;
            li{
              a{color: rgba(78, 0, 8, 0.4);}
              &::after{content: '·'; margin-left: 10px;
              }
              &:last-child::after{content: '';}
            }
          }
        }
        .footer-copy{
          margin-top: 75px;
          color: #4e0006;
        }
      }
    }
  }
  
}
@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}